@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    font-family: "JosefinSans";
}
#hero-msg{
    background-color: gray;
    padding: 20 px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    opacity: .9;
    
}
#hero-img{
    width: 100%
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    
}
.button-box{
    margin: 0 auto;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
main{
    text-align: center;
    font-family: "Roboto", "Helvetica", "sans-serif";
}
#background{
    background-color: white;
    height: 725px;   
    grid-column: 1/11;
    grid-row: 4/9;
}
body{
    background-color: #d6d6d6;
    font-family: "Roboto", "Helvetica", "sans-serif";
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header{
    background-color: #d6d6d6;
    display: grid;
    grid-template-columns: 150px auto;
    opacity: 0.3;
}
nav a{
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: "JosefinSans";
    padding: 35px;
}
nav a:hover{
    color: white;
}
.book:hover, .join:hover{
   color: white;
}
.book, .join{
    color: white;
    text-decoration: none; 
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: black;
}
.book{
    text-align: center;
    display: block;
    width: 10%;
    margin: 0 auto;
    font-family: "JosefinSans";
} 
.join{
    font-family: "JosefinSans";
}
    
.home-title{
    color: black;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: black;
    font-family: "JosefinSans";
}
.msg h2{
    color: black;
    font-family: "JosefinSans";
}
h2{
    margin: 0;
}
.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg{
    line-height: 1.5em;
    padding: 35px;
    background-color: gray;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer h3{
    color: black;
    font-family: "JosefinSans";
}
footer h3 a:hover{
    text-decoration: underline;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: white;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 5px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center
}
footer{
    padding: 25px 50px;
    margin-top: 200px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 300px 0;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img, .mountains{
     border: 10px solid grey;
     width: 100%;
}
.card-img{
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364; 
}
main section img{
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content:space-around ;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}