#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main{
    text-align: center;
}
#background{
    height: 725px;   
}
body{
    background-color: #d6d6d6;
}
header{
    background-color: #d6d6d6;
}
nav a{
    color: black;
    text-align: center;
    text-decoration: none;
}
nav a:hover{
    color: white;
}
.book:hover, .join:hover{
   color: white;
}
.book, .join, .home-title{
    color: black;
    text-decoration: none;
}
#background{
    background-color: white;
}
.home-title{
    color: black;
}
h4{
    color: black;
}
.msg h2{
    color: black;
}
.msg p{
    color: black
}
footer h3{
    color: black;
}
footer h3 a:hover{
    text-decoration: underline;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: white;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
}
#hero-img{
    width: 100%
}
