@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    font-family: "JosefinSans";
}
#hero-msg{
    background-color: gray;
    padding: 20 px;
}
.button-box{
    margin: 0 auto;
}
main{
    text-align: center;
    font-family: "Roboto", "Helvetica", "sans-serif";
}
#background{
    height: 725px;   
}
body{
    background-color: #d6d6d6;
    font-family: "Roboto", "Helvetica", "sans-serif";
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header{
    background-color: #d6d6d6;
}
nav a{
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: "JosefinSans";
    padding: 35px;
}
nav a:hover{
    color: white;
}
.book:hover, .join:hover{
   color: white;
}
.book, .join{
    color: white;
    text-decoration: none; 
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: black;
}
.book{
    text-align: center;
    display: block;
    width: 10%;
    margin: 0 auto;
    font-family: "JosefinSans";
} 
.join{
    font-family: "JosefinSans";
}
#background{
    background-color: white;
}
.home-title{
    color: black;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: black;
    font-family: "JosefinSans";
}
.msg h2{
    color: black;
    font-family: "JosefinSans";
}
h2{
    margin: 0;
}
.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg{
    line-height: 1.5em;
    padding: 35px;
    background-color: gray;
}
footer h3{
    color: black;
    font-family: "JosefinSans";
}
footer h3 a:hover{
    text-decoration: underline;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: white;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 5px;
}
#hero-img{
    width: 100%
}
#logo_link{
    padding-top: 5px;
}
footer{
    padding: 25px 50px;
    margin-top: 200px;
    background-color: gray;
}
footer .social img{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 300px 0;
    
}
.card-img{
     border: 10px solid grey;
}
main section img{
    box-sizing: border-box;
}