.hero-img{
    width: 100%;
    height: 60%;
}
.images img{
    height: 20%;
    width: 20%;
    border-radius: 50%;
    border: 10px solid rgb(41, 37, 37);
    margin: 30px;
}
.images{
    background-color: grey;
    text-align: center;
    padding: 20px;
}
