header{
    background-color: #2c6098;
    display: grid;
    grid-template-columns: 9fr 1fr;
    align-items: center;
    height: 8%;
    padding: 1%;
}
nav a{
    
    padding: 3%;
    background-color: #e5e5f0;
    font-size: 170%;
    text-decoration: none;
    color: black;
    margin-left: 2%;
}
a{
    
    text-decoration: none;
    color: white;
}
nav a:hover{
    background-color:#ad2318;
    color: white;
}
footer{
    background-color: #2c6098;
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.logo-img{
    width: 100%;
    padding: 3%;
}

#homegrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#e5e5f0;
}
h1{
    font-family:  'Josefin Sans', sans-serif;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;;

}
.section1{
    grid-column: 1/5;
    grid-row: 1/2;
    margin: 20px;
    background-color: #2c6098;
    
}
.section2{
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: #2c6098;
    margin: 20px;
}
.section3{
    grid-column: 1/5;
    grid-row: 3/4;
    background-color: #2c6098;
    margin: 20px;
}
.section-img{
    float: left;
    padding: 30px;
    width: 40%;
}
.section-img:hover{
    transition: transform .5s;
    transform: scale(1.1);
}
p{
    font-size: 1.5em;
}
.cars-grid{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #e5e5f0;
    width: 80%;
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
}

.cars-grid .hero-image{
    grid-column: 1/6;
    grid-row: 1/5;
}
.cars-grid .hero-image img{
    
    width: 100%;
}
.cars-grid .hero-message{
    background-color: #e5e5f0;
    grid-column: 2/6;
    grid-row: 3/5;
    font-size: 15px;
    border: 10px solid #2c6098;
}
.cars-grid .hero-message p, h2{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

.cars-grid .hero-message:hover{
    transition: transform .5s;
    transform: scale(1.1);
}