header{
    background-color: #2c6098;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    height: 80px;
    padding: 5px;
}
nav a{
    
    padding: 25px;
    background-color: #e5e5f0;
    font-size: 25px;
    text-decoration: none;
    color: black;

}
a{
    font-size: 17px;
    text-decoration: none;
    color: white;
}
nav a:hover{
    background-color:#ad2318;
    color: white;
}
footer{
    background-color: #2c6098;
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#homegrid{
    display: grid;
    grid-template-columns: 1f 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr fr;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#e5e5f0;
}
.section1{
    grid-column: 1/5;
    grid-row: 1/2;
    margin: 20px;
    background-color: #2c6098;
    
}
.section2{
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: #2c6098;
    margin: 20px;
}
.section3{
    grid-column: 1/5;
    grid-row: 3/4;
    background-color: #2c6098;
    margin: 20px;
}
.section-img{
    float: left;
    padding: 30px;
}
.section-img:hover{
    transition: transform .5s;
    transform: scale(1.1);
}
p{
    font-size: 1.5em;
}
.cars-grid{
    background-color: #e5e5f0;
    width: 80%;
    margin: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
}

.cars-grid .hero-image{
    grid-column: 1/4;
    grid-row: 1/3;
}
.cars-grid .hero-image img{
    
    width: 100%;
}
.cars-grid .hero-message{
    background-color: #e5e5f0;
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 15px;
    border: 10px solid #2c6098;
}
.cars-grid .hero-message p, h2{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

.cars-grid .hero-message:hover{
    transition: transform .5s;
    transform: scale(1.1);
}