img {
    display: block;
    width: 80%;
    margin: 0 auto;
}
p {
    width: 80%;
    margin:0 auto;
    text-align: center;
}
a {
    font-size: 1.5em
}
h1 {
    text-align: center;
}
nav {
    text-align:center;
}
footer {
   text-align:center;
}
nav, footer{
    background-color: steelblue;
    color:white;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
}
a:hover {
    background-color: white;
    color:steelblue;
}