body{
    margin: 0;
}
img{
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 4px solid steelblue;
}
p {
    width: 100%;
    margin:50 auto;
    text-align: center;
}
a {
    font-size: 1.5em;
    color: white;
    padding: 25px;
}
h1 {
    text-align: center;
    margin: 50px 0;
}
nav{
    text-align:center;
}
footer {
   text-align:center;
}
nav, footer{
    background-color: steelblue;
    color:white;
    padding: 25px;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
    padding: 25px;
}
a:hover {
    background-color: white;
    color:steelblue;
}
